@charset "UTF-8";

@media screen and (max-width: 450px) {
    main h1 {
        font-size: 2em;
    }
    
    #area-login {
        width: 90vw;
    }

    #area-login input, button {
        max-width: 67vw;
    }

    #area-login p {
        font-size: 4vw;
    }
}