@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --cor1: #1B1F27;
    --cor2: #181920;
    --cor3: #5568FE;
    --cor4: #252A34;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor1);
}

main {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 3em;
    text-align: center;
}

main #area-login {
    background-color: var(--cor2);
    text-align: center;
    border-radius: 15px;
    max-width: 100%;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#area-login img {
    height: 75px;
    margin-bottom: 20px;
}

#area-login #dados > input {
    width: 300px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--cor4);
}

#area-login #dados > input::placeholder {
    color: #A5A9AC;
}

#area-login button {
    background-color: var(--cor3);
    width: 300px;
    padding: 15px 0px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

#area-login p {
    margin-top: 10px;
}

#area-login p > span {
    color: var(--cor3);
    font-weight: bolder;
    cursor: pointer;
}