@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > #lado-esquerdo {
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#lado-esquerdo > h1 {
    font-size: 3vw;
    color: #77ffc0;
    text-align: center;
}

#lado-esquerdo > img {
    width: 35vw;
}

main > #lado-direito {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lado-direito #area-login {
    width: 60%;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lado-direito h1 {
    color: #00ff88;
    font-weight: 800;
    text-transform: uppercase;
}

#lado-direito .login-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

#lado-direito .login-card > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}

#lado-direito .login-card > input::placeholder {
    color: #f0ffff94;
}

#lado-direito .login-card > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

#lado-direito #btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

#lado-direito #btn-login:active {
    background-color: #00ff88a2;
}

#logo {
    align-self: flex-end;
    margin: 10px;
}